body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: white;
}

h1 {
    margin-top: 50px;
    color: black;
}

select {
    padding: 10px;
    font-size: 16px;
    margin: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: goldenrod;
}
